.outerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}


.artistText{
    display: flex;
    font-family: 'Libre Franklin', sans-serif;
    font-style: italic;
    font-weight: thin;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}


.imgHolder1{
    display: flex;
    /* flex-direction: row; */
    /* flex-flow: center; */
    justify-content: center;
    /* height: 300px; */
}

.imgHolder2{
    display: flex;
    /* flex-direction: row; */
    /* flex-flow: center; */
    justify-content: center;
    /* height: 300px; */
}

.homeAlbumImg{
    height: 250px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    width: 250px;
}

#ozunaImg{
    margin: 0px 25px;
}

#rauwImg{
    margin: 0px 25px;
}