.formDiv{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: black;
}

#loginForm{
    border:black;
}

#loginText{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-family: 'Libre Franklin', sans-serif;
}

#loginSubmitButton{
    margin-top: 10px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    color: white;
    background-color: grey;
    border-radius: 3px;
}

.loginLabels{
    font-family: 'Libre Franklin', sans-serif;
}