html, body{
    margin: 0px;
}

.barPanel{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffff64;
}

#homeButton{
    right: 50%;
}

.signupButton{
    right: 0px;
}

.loginButton{
    right: 5%;
}

