html, body{
    margin: 0px;
}

.barPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(255, 255, 100);
}

#homeButton{
    flex: 1 1 auto;
    text-align: center;
}

#signupButton{
    margin-right: 10px;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    flex: 3 0 40%
}

#loginButton{
    /* right: 5%; */
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    flex: 3 0 40%
}

#demoLoginButton{
    /* right: 5%; */
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    flex: 3 0 40%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin: 0 10px;
}



.searchForm{
    margin: 0px 10px;
}

#logoutButtonDiv{
    margin: 0px 10px;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    
}
